.setting-panel {
  padding: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.setting-panel:last-child {
  border-bottom: none;
}
.setting-panel button svg {
  display: inline-block;
}
.svg-color-1 {
  fill:#12B347;
}

.svg-color-2 {
  fill:#0F993E;
}

.svg-color-3 {
  fill:#E6F3FF;
}

.svg-color-white {
  fill: #fff;
}

.google-sheet-list {
  list-style: none;
  max-height: 120px;
  overflow-y: auto;
}
.google-sheet-list .selected{
  background-color: #0F993E;
}
.google-sheet-selected {
  background-color: #f5f5f5;
}
.user-setting-container{
  min-width: 100%;
  min-height: 340px;
}
.user-setting-side-bar{
  display: none;
}
.chevoright{
  width: 25px;
  height: 25px;
  font-weight: 800;
  background: #fff;
  color: #000;
  position: absolute;
  top: 55%;
  border-radius: 7px;
  display: block;
}
.google-button-setting{
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.tab-content{

}
@media (min-width:700px) {
  .user-setting-side-bar{
    display: flex !important;
  }
  .user-setting-container{
    min-width: 43em;
    min-height: 640px;
  }
  .chevoright{
    display: none;
  }
}
@media (max-width:500px) {
  .google-tab{
    max-height: 350px;
    overflow-y: scroll;
  }
}